@model List<Practica.EF.Entities.DTO.CategoryDto>

@{
    ViewBag.Title = "Categorias";
}

<h1>Categorias</h1>
<br />
<div>
    @Html.ActionLink("Insertar Nueva Categoria", "Insert", "", new { @class = "btn btn-primary" })
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.CategoryID</th>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@Html.ActionLink("Modificar", "Update", new { id = item.CategoryID }, new { @class = "btn btn-info" })</td>
                <td>@Html.ActionLink("Eliminar", "Delete", new { id = item.CategoryID }, new { onclick = "return confirm('Esta seguro de borrar?')", @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>

