@model Practica.EF.Entities.DTO.CategoryDto

@{
    ViewBag.Title = "Modificar Categoria";
}

<h1>Vista para modificar</h1>
@using (Html.BeginForm("Update", "Category", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <label>ID: </label>
            <input type="text" value="@Model.CategoryID" disabled class="form-control" />
            @Html.HiddenFor(c => c.CategoryID)
            <div>
                <label>Nombre: </label>
                @Html.TextBoxFor(c => c.CategoryName, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.CategoryName, "", new { @class = "text-danger" })
            </div>
            <label>Descripcion: </label> @Html.TextBoxFor(c => c.Description, "", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-success" value="Guardar" />
    <a class="btn btn-warning" href="@Url.Action("List", "Category")">Volver</a>
}
